.main_wrapper {
    display: flex;
    height: 100%;
    min-height: 751px;
    width: 1600px;
    margin: auto;
}

.first_section {
    display: flex;
    flex-direction: column;
    width: 783px;
    min-width: 783px;

    .svg_logo_container {
        height: 50%;
        .svg_logo {
            width: 97px;
            margin: 53px 0 0 64px;
        }
    }
}

.second_section {
    display: flex;
    width: 876px;

    .navigation_wrapper {
        display: flex;
        flex-direction: column;
        width: 375px;
        min-width: 375px;
        margin-top: 54px;

        .link {
            margin-left: 314px;
        }

        .close_menu {
            cursor: pointer;
        }
    }
}

