.btm_section_wrapper {
    display: flex;
    justify-content: space-between;
    height: 120px;
    min-height: 120px;
    width: 1600px;
    margin: auto;
    color: var(--opacity-font-color);

    .links_wrapper {
        display: flex;
        justify-content: space-between;
        width: 133px;
        margin: 32px 0 0 64px;

        .link {
            cursor: pointer;
        }
    }

    .phone_number {
        margin: 32px 64px 0 0;
    }
}
