.inner_wrapper {
    display: flex;
    height: 100%;
    min-height: 376px;
    width: 1600px;
    margin: auto;

    .first_block {
        width: 408px;

        .svg {
            margin: 53px 0 0 64px;
        }
    }

    .second_block {
        display: flex;
        flex-direction: column;
        width: 376px;
    }

    .third_block {
        width: 376px;
    }

    .fourth_block {
        width: 440px;

        .contacts {
            margin: 64px 0 0 322px;
            cursor: pointer;
        }
    }
}
