.svg_page_presentation {
    height: 50%;
    padding: 0 32px 0 64px;

    .moving_line {
        display: flex;
        position: relative;
        top: 40%;
        min-width: max-content;
        height: 0;

        font-weight: 500;
        font-style: normal;
        font-size: 160px;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1px #cccccc;
    }
}
