.main_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 32px;

    .aboutUs_link {
        margin-top: 64px;
        cursor: pointer;
        color: var(--main-font-color);
    }

    .article_wrapper {
        margin: auto 0 32px 0;

        .article {
            font-size: 32px;
            font-weight: bold;
            line-height: 40px;
            color: var(--main-font-color);
        }
    }
}
