@import '~normalize.css';

/*Regular*/
@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro'), url('./fonts/GothamPro.woff') format('woff'),
        url('./fonts/GothamPro.ttf') format('ttf');
}

/*Bold*/
@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: bold;
    src: local('Gotham Pro'), url('./fonts/GothamPro-Bold.woff') format('woff'),
        url('./fonts/GothamPro-Bold.ttf') format('ttf');
}

/*Medium*/
@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Gotham Pro'), url('./fonts/GothamPro-Medium.woff') format('woff'),
        url('./fonts/GothamPro-Medium.ttf') format('ttf');
}

body {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: var(--main-font-color);
    background-color: #f2f2f4;
}
