.navigation_wrapper {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 494px;
    width: 167px;
    margin: 84px 0 87px 176px;
    text-align: right;

    .navigation_item {
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: var(--opacity-font-color);
        cursor: pointer;

        &:hover {
            color: var(--main-font-color);
        }
    }
}
